.App {
  max-width: 65%;
  height: auto;
  border-radius: 20px;
  border: 1px solid rgb(11, 11, 11);
  margin: 5px auto;
  padding: 20px;
  text-align: center;
  background-color: #181818FF;
}
h2, span, label, p, button, input {
  color: #cccccc;

}
@media screen and (max-width: 992px) {
  .App {
    max-width: 90%;
  }
  
}